


#contenedor{
	width: 1200px;
	height: 1200px;

	margin: 0.5em auto;
	padding: 0.5em;
}
#Header{
	height: 15%;

	border-radius: 0.5em;
	margin: 1em;
	text-align: left;
	font-size: 15px;
}
#Nav{
	height: 0%;

	border-radius: 0.5em;
	margin: 1em;
}
#contenido{
	height: 55%;
	
	margin: 1em;
}
#footer{
	height: 15%;

	border-radius: 0.5em;
	margin: 1em;
}
#section{
	height: 46%;
	width: 61%;
	background-color: aliceblue;
	border-radius: 0.5em;
	float: left;
	margin: 0.5em;

}
#Aside{
	height: 98%;
	width: 26.2%;

	border-radius: 0.5em;
	float: right;
	margin: 0.5em;
}
.articulo{
	width: 90%;
	height: 19%;

	margin: 1em auto;
	border-radius: 0.5em;
}



    .menu{
	float: right;
	list-style: none;
	padding: 0;
	background: rgba(124, 84, 137, 0.488);
	width: 65%;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5em;
	height: 62.95px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
.menu li{
	display: inline-block;
	text-align: center;
	color: white;

}
.menu li a:hover{
	background: lightblue;
	border-radius: 0.5em;
}
.smenu{
	float: left;
	list-style: none;
	padding: 0;
	background: rgba(124, 84, 137, 0.488);
	width: 30%;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5em;

}

.sectionmenu{
	float: left;
	list-style: none;
	padding: 0;
	background-color: aliceblue;
	width: auto;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5em;
	height: 63.95px;
	;
}

.sectionmenu button{
	display: inline-block;
	text-align: center;
	color: rgb(27, 166, 173);
	
	
}

.sectionmenu button a{
		text-decoration: none;
		color: rgb(255, 255, 255);
		padding: 20px;
		display: inline-block;
		border-radius: 0.5em;}
		
		
		
.sectionm{
			display: inline-block;
			text-align: center;
			color: rgb(0, 0, 0);
			border-radius: 0.5em;
			border-color: rgba(240, 248, 255, 0);
		
		}
		.sectionm button a{
			display: inline-block;
			text-align: center;
			color: rgb(0, 0, 0);
			border-radius: 0.5em;
			border-color: rgba(240, 248, 255, 0);
			background-color: aqua;
		
		}
		

.sectionmenu{
	float: left;
	list-style: none;
	padding: 0;
	background-color: aliceblue;
	width: auto;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5em;
	height: 63.95px;
	;
}

.sectionmenu button{
	display: inline-block;
	text-align: center;
	color: rgb(27, 166, 173);
	background-color: rgba(114, 38, 134, 0.437);
	
}

.sectionmenu button a{
		text-decoration: none;
		color: rgb(255, 255, 255);
		padding: 20px;
		display: inline-block;
		border-radius: 0.5em;}

.sectionmenu1{
	float: left;
	list-style: none;
	padding: 0;
	background-color: aliceblue;
	width: auto;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5em;
	height: 63.95px;
	;
}

.sectionmenu1 button{
	display: inline-block;
	text-align: center;
	color: rgb(27, 166, 173);
	background-color: rgba(114, 38, 134, 0.437);
	
}

.sectionmenu1 button a{
		text-decoration: none;
		color: rgba(114, 38, 134, 0.437);
		padding: 20px;
		display: inline-block;
		border-radius: 0.5em;}
		